.auth {
    height: 100vh;
    padding: 1rem;

    &--grid {
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 1rem;
        height: 100%;

        @media (max-width: 1000px) {
            grid-template-columns: 1fr;
        }

        &-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            text-align: center;
            max-width: 500px;
            margin: auto;
            width: 100%;

            h1 {
                margin: 0;
            }

            p {
                margin-bottom: 2rem;
            }
        }

        &-image {
            background-color: var(--font-color);
            border-radius: 2rem;
            overflow: hidden;
            position: relative;

            @media (max-width: 1000px) {
                display: none;
            }
        }
    }

    &--button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1ch;
        font-size: 1rem;
        background-color: transparent;
        background-color: var(--primary-600-hsl);
        border: 2px solid var(--primary-600-hsl);
        padding: 1.5ch 2ch;
        border-radius: 5rem;
        cursor: pointer;
        width: 100%;
        transition-property: color, border, background-color;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        color: var(--font-color-light);

        &:hover {
            border: 2px solid var(--primary-400-hsl);
            background-color: var(--primary-400-hsl);

            svg {
                color: inherit;
            }
        }
    }

    &--buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    &--logo {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: var(--primary-600-hsl);
    }
}